<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Plateforme Urbaine du Cameroun - Export de carte</title>
    <style>
        @page { 
            size: A4 landscape; 
            margin: 0; 
        }

        body {
            margin: 0;
            padding: 0;
            width: 29.7cm;
            height: 21cm;
            font-family: Arial, sans-serif;
        }

        .header {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .container {
            width: 100%;
            height: 100%;
        }
        
        .map-container {
            display: inline-block;
            width: 84%;
            vertical-align: top;
        }
        
        .map-container img {
            width: 100%;
            height: auto;
        }
        
        .sidebar {
            display: inline-block;
            width: 15%;
            vertical-align: top;
            padding-left: 5px;
            box-sizing: border-box;
        }
        
        .legend {
            font-size: 12px;
        }
        .legend-icon{
            width: 20px;
        }
    </style>
</head>
<body>
    
    
    <div class="container">
        <div class="header">
            {{ title }}
        </div>
        <div class="map-container">
            <img src="{{ mapUrl }}" alt="Map">
        </div>
        <div class="sidebar">
            <p><strong>Description :</strong> {{ description }}</p>
            <div class="legend">
                <strong>Légende :</strong>
                {% for item in legendList %}
                    <div><img src="{{ item.icon }}" class="legend-icon">{{ item.name }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
